.container {
    margin: 20px auto;
  
    .mat-h4 {
      background-color: #673ab7;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
    }
  
    .mat-elevation-z1 {
      background-color: white;
      padding: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
 
.row {
  margin-bottom: 16px; 

  label {
    margin-right: 8px; 
  }

  select {
    padding: 8px; 
    font-size: 14px; 
    border-radius: 4px; 
  }
}


  }
  